# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
coverage/base.css
coverage/block-navigation.js
coverage/clover.xml
coverage/config.ts.html
coverage/coverage-final.json
coverage/favicon.png
coverage/index.html
coverage/prettify.css
coverage/prettify.js
coverage/sort-arrow-sprite.png
coverage/sorter.js
coverage/tmp/coverage-21899-1674950199099-7.json
coverage/tmp/coverage-21899-1674950199110-5.json
coverage/tmp/coverage-21899-1674950199121-6.json
coverage/tmp/coverage-21899-1674950199131-4.json
coverage/tmp/coverage-21899-1674950199142-2.json
coverage/tmp/coverage-21899-1674950199152-3.json
